body{
    font-family: 'League Spartan', sans-serif;
    background-image: url(./images/bg-pattern-top-mobile.svg),url(./images/bg-pattern-bottom-desktop.svg);
    background-position: left top,right bottom;
    background-repeat: no-repeat;
}
.body{
    margin-left: 10em;
    margin-top: 10em;
    margin-right: 10em;
}
.top_section{
    display: flex;
}
.heading_text{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.main_heading{
    font-size: 50px;
    font-weight: 700;
    width: 55%;
    align-items: center;
    color: hsl(300, 43%, 22%);
}
.sub_heading{
    font-weight: 500;
    width: 68%;
    margin-top: 1rem;
    color: hsl(303, 10%, 53%)
}
.ratings{
    width: 50%;
    flex-direction: column;
    margin-top: 1rem;
} 
.rating_1{
    margin-top: 1rem;
    
}
.rating_2{
    margin-top: 1rem;
    margin-left: 3rem;
}
.rating_3{
    margin-top: 1rem;
    margin-left: 6rem;
}
.rating_1_content,.rating_2_content,.rating_3_content{
    display: flex;
    width: 22rem;
    height: 0.8rem;
    background: hsl(300, 24%, 96%);
    padding: 1rem;
    padding-right: 2rem;
    border-radius: 5px;
    overflow: hidden;
}
.rating_text{
    margin-left: 1rem;
}
.bottom_section{
    display: flex;
    margin-top: 5rem;
    width: 100%;
}
.first_bottom_box,.second_bottom_box,.third_bottom_box{
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 20rem;
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    border-radius: 10px;
    margin-left: 1.5rem;
}
.box_heading{
    display: flex;
    flex-direction: row;
}
#colton{
    border-radius: 50%;
    height: 40%;
}
.buyer_profile{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}
.buyer_name{
    color: white;
    font-weight: 500;
}
.buyer_verification{
    margin-top: 0.1rem;
    color: hsl(333, 80%, 67%);
}
.second_bottom_box{
    margin-top: 1rem;
}
.third_bottom_box{
    margin-top: 2rem;
}
.box_remark{
    color: white;
    margin-top: -1.5rem;
    width: 18rem;
    text-align: left;
}